{% extends 'appSMS/index.html' %} {% load static %} {% load tags_permissions %}

<title>{% block title %}Chat{% endblock %}</title>
{% block content %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<!-- <script src="https://cdn.tailwindcss.com"></script> -->



<!-- component -->

<div>
  <div class="w-full h-32" style="background-color: #3B82F6"></div>

  <div class="container mx-auto" style="margin-top: -128px;">
    <div class="py-6 h-screen">
      <div class="flex border border-grey rounded shadow-lg h-full">

        <!-- Left -->
        <div id="contacts-block" class="w-full md:w-1/3 border flex flex-col">

          <!-- Header -->
          <div class="py-2 px-3 bg-grey-lighter flex flex-row justify-between items-center">
            <span>
              <strong>Usuario:</strong>
              <strong>
                <a href="{% url 'appSMS:update_profile' %}" title="Perfil usuario"
                  style="color: inherit; text-decoration: none;">
                  {{ request.user.username }}
                </a>
              </strong>
            </span>

            <div class="flex">
              <!-- <div>
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="#727A7E" d="M12 20.664a9.163 9.163 0 0 1-6.521-2.702.977.977 0 0 1 1.381-1.381 7.269 7.269 0 0 0 10.024.244.977.977 0 0 1 1.313 1.445A9.192 9.192 0 0 1 12 20.664zm7.965-6.112a.977.977 0 0 1-.944-1.229 7.26 7.26 0 0 0-4.8-8.804.977.977 0 0 1 .594-1.86 9.212 9.212 0 0 1 6.092 11.169.976.976 0 0 1-.942.724zm-16.025-.39a.977.977 0 0 1-.953-.769 9.21 9.21 0 0 1 6.626-10.86.975.975 0 1 1 .52 1.882l-.015.004a7.259 7.259 0 0 0-5.223 8.558.978.978 0 0 1-.955 1.185z"></path></svg>
                          </div> -->
              <div class="ml-4">
                {% has_perm request.user "restringir" as puede_crear_grupo %}
                {% if not puede_crear_grupo %}
                  <a href="{% url 'appSMS:crear_grupo' %}" title="Crear Grupo">
                    <i class="fa-solid fa-user-group fa-xl icon icono"></i>
                  </a>
                {% else %}
                  <i class="fa-solid fa-user-group fa-xl icon icono cursor-not-allowed" title="Sin permiso para crear grupos"></i>
                {% endif %}
              </div>
              <div class="ml-4 relative">
                <i id="menu-logout-btn"
                  class="fa-solid fa-ellipsis-vertical cursor-pointer text-xl text-gray-700 hover:text-gray-900"
                  onclick="toggleMenuOptions(event)"></i>
                <!-- Menú desplegable -->
                <div id="menu-options" class="absolute right-0 mt-2 bg-transparent shadow-md hidden p-0">
                  <a href="{% url 'appSMS:logout' %}"
                    class="flex items-center bg-red-500 hover:bg-red-600 text-white font-medium rounded-md px-1 py-1 text-sm text-center no-underline decoration-none focus:outline-none whitespace-nowrap shadow-md"
                    style="text-decoration: none;">
                    Cerrar Sesión
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- Search -->
          <div class="py-2 px-2 bg-grey-lightest">
            <input type="text" id="search-input" class="form-control w-full px-2 py-2 text-sm"
              placeholder="Buscar usuario o grupo..." />
          </div>

          <!-- Contactos -->
          <div class="bg-grey-lighter flex-1 overflow-auto">
            <!-- Lista de chats grupales -->
            <div class="px-2 flex items-center bg-grey-light cursor-pointer">
              <div class="ml-4 flex-1 py-3">

                <ul class="list-unstyled chat-list mt-0 mb-0 space-y-2" id="group-list">
                  {% for group in groups %}
                  <li class="clearfix {% if group == selected_group %}active{% endif %}">
                    <a href="{% url 'appSMS:chat_grupal' group_name=group.name %}"
                      class="w-full cursor-pointer chat-link clearfix flex items-center space-x-4 hover:bg-gray-200 rounded-lg transition hover:no-underline focus:no-underline active:no-underline">
                      <img src="{{ group.avatar.url }}" class="h-12 w-12 rounded-full" alt="group-avatar"
                        onerror="this.onerror=null; this.src='{{ MEDIA_URL }}group_avatars/default_group.png';" />
                      <div class="about w-full">
                        <div class="name border-b border-grey-lighter pb-2 w-full">
                          {{group.display_name|default:group.name }}</div>
                      </div>

                    </a>
                  </li>
                  {% empty %}
                  <!-- <li>
                    <div class="no-chat">No estás en ningún grupo</div>
                  </li> -->
                  {% endfor %}
                </ul>

              </div>
            </div>

            <!-- Lista de chats individuales -->
            <div class="px-2 flex items-center bg-grey-light cursor-pointer">
              <div class="ml-4 flex-1">
                <ul class="list-unstyled chat-list space-y-2" id="user-list">
                  {% for user in users %}
                  <li class="clearfix {% if user == other_user %}active{% endif %}">
                    <a href="{% url 'appSMS:chat_privado' username=user.username %}"
                      class="w-full cursor-pointer chat-link clearfix flex items-center space-x-4 hover:bg-gray-200 rounded-lg transition hover:no-underline focus:no-underline active:no-underline">
                      <img src="{{ user.userprofile.avatar.url }}" class="h-12 w-12 rounded-full" alt="avatar"
                        onerror="this.onerror=null; this.src='{{ MEDIA_URL }}avatars/default.png'" />
                      <div class="about w-full">
                        <div class="name pb-2 border-b border-grey-lighter">
                          {{ user.username }} {% if user.username == request.user.username %} (Tú){% endif %}
                        </div>

                      </div>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
                <!-- Mensaje "Sin resultados" (Oculto por defecto) -->
                <div id="no-results" class="hidden text-center text-gray-500 py-2">
                  <span>Sin resultados...</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Valor oculto para el primer acceso -->
        <input type="hidden" id="primer-acceso-value" value="{{ primer_acceso }}">
        {% if primer_acceso %}
        <!-- Mostrar la vista completa -->
    <div class="vista-completa">
      <!-- Aquí deberías mostrar todo el contenido normal del chat -->
      <!-- Chat -->
      <div id="chat-block" class="hidden md:flex w-full md:w-2/3 border flex-col">
          <!-- Resto del contenido del chat que ya tienes -->
      </div>
  </div>
        {% else %}
        <!-- Chat -->
        <div id="chat-block" class="hidden md:flex w-full md:w-2/3 border flex-col">

          <!-- Cabecera info. chat -->
          <div class="py-2 px-3 bg-grey-lighter flex flex-row justify-between items-center">
            <div class="flex items-center">
              {% if selected_group %}
              <!-- Mostrar nombre del grupo -->
              <button id="back-to-contacts" class="mr-2 md:hidden text-gray-700 hover:text-gray-900">
                <i class="fa-solid fa-chevron-left"></i>
    z          </button>
              {% has_perm request.user "restringir" as puede_cambiar_imagen %}
              {% if not puede_cambiar_imagen %}
                <a href="{% url 'appSMS:update_group_avatar' group_id=selected_group.id %}">
                  <img class="w-10 h-10 rounded-full" src="{{ selected_group.avatar.url }}" alt="group-avatar"
                  title="Cambiar imagen" style="cursor: pointer"
                  onerror="this.onerror=null; this.src='{{ MEDIA_URL }}group_avatars/default_group.png';" />
                </a>
              {% else %}
                <img class="w-10 h-10 rounded-full cursor-not-allowed" src="{{ selected_group.avatar.url }}"
                alt="group-avatar" title="Sin permiso para cambiar la imagen del grupo"
                onerror="this.onerror=null; this.src='{{ MEDIA_URL }}group_avatars/default_group.png';" />
              {% endif %}
              <div class="ml-2">
                <p class="text-grey-darkest">{{ group_display_name }}</p>

                <!-- <p class="text-grey-darker text-xs mt-1">
                                    para mostrar los usuarios del grupo(futuro)
                                </p> -->
              </div>

              {% elif other_user %}
              <!-- Mostrar nombre del usuario en chat individual -->
              <button id="back-to-contacts" class="mr-2 md:hidden text-gray-700 hover:text-gray-900">
                <i class="fa-solid fa-chevron-left"></i>
              </button>
              <img class="w-10 h-10 rounded-full" src="{{ other_user.userprofile.avatar.url }}" alt="avatar"
                onerror="this.onerror=null; this.src='{{ MEDIA_URL }}avatars/default.png';" />
              <div class="ml-2">
                <p class="text-grey-darkest">{{ other_user.username }}</p>
              </div>

              {% else %}
              <!-- Mensaje si no hay usuario ni grupo seleccionado -->
              <div class="ml-4">
                <p class="text-grey-darkest">Selecciona un usuario o grupo para iniciar una conversación</p>
              </div>
              {% endif %}
            </div>

            <div class="flex">
              <!-- <div>
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="#263238" fill-opacity=".5" d="M15.9 14.3H15l-.3-.3c1-1.1 1.6-2.7 1.6-4.3 0-3.7-3-6.7-6.7-6.7S3 6 3 9.7s3 6.7 6.7 6.7c1.6 0 3.2-.6 4.3-1.6l.3.3v.8l5.1 5.1 1.5-1.5-5-5.2zm-6.2 0c-2.6 0-4.6-2.1-4.6-4.6s2.1-4.6 4.6-4.6 4.6 2.1 4.6 4.6-2 4.6-4.6 4.6z"></path></svg>
                          </div> -->
              <!-- <div class="ml-6">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="#263238" fill-opacity=".5" d="M1.816 15.556v.002c0 1.502.584 2.912 1.646 3.972s2.472 1.647 3.974 1.647a5.58 5.58 0 0 0 3.972-1.645l9.547-9.548c.769-.768 1.147-1.767 1.058-2.817-.079-.968-.548-1.927-1.319-2.698-1.594-1.592-4.068-1.711-5.517-.262l-7.916 7.915c-.881.881-.792 2.25.214 3.261.959.958 2.423 1.053 3.263.215l5.511-5.512c.28-.28.267-.722.053-.936l-.244-.244c-.191-.191-.567-.349-.957.04l-5.506 5.506c-.18.18-.635.127-.976-.214-.098-.097-.576-.613-.213-.973l7.915-7.917c.818-.817 2.267-.699 3.23.262.5.501.802 1.1.849 1.685.051.573-.156 1.111-.589 1.543l-9.547 9.549a3.97 3.97 0 0 1-2.829 1.171 3.975 3.975 0 0 1-2.83-1.173 3.973 3.973 0 0 1-1.172-2.828c0-1.071.415-2.076 1.172-2.83l7.209-7.211c.157-.157.264-.579.028-.814L11.5 4.36a.572.572 0 0 0-.834.018l-7.205 7.207a5.577 5.577 0 0 0-1.645 3.971z"></path></svg>
                          </div> -->
              <!-- Menú desplegable para "Vaciar Chat" -->
              <div class="ml-4 relative">
                <i id="menu-vaciar_chat-btn"
                  class="fa-solid fa-ellipsis-vertical cursor-pointer text-xl text-gray-700 hover:text-gray-900"
                  onclick="toggleChatMenu(event)"></i>

                <div id="chat-menu-options" class="absolute right-0 mt-2 bg-transparent shadow-md hidden p-0">
                  {% if selected_group %}
                  <!-- Botón para vaciar el chat grupal -->
                  <button id="open-group-modal"
                    class="flex items-center bg-red-500 hover:bg-red-600 text-white font-medium rounded-md px-1 py-1 text-sm text-center no-underline decoration-none focus:outline-none whitespace-nowrap shadow-md w-full">
                    <i class="fa-solid fa-trash mr-1"></i> Vaciar Chat
                  </button>
                  <!-- Modal (Oculto por defecto) -->
                  <div id="modal-group-backdrop"
                    class="fixed inset-0 z-50 hidden bg-black bg-opacity-50 flex justify-center items-center">
                    <div class="bg-white rounded-lg shadow-md w-11/12 max-w-sm p-5">
                      <h1 class="text-xl font-semibold text-gray-800">¿Desea eliminar todos los mensajes del chat?</h1>
                      <p class="text-gray-600 mt-2">Esta acción no podrá deshacerse</p>
                      <!-- Botones de acción -->
                      <div class="flex justify-end mt-4">
                        <button id="close-group-modal"
                          class="bg-blue-500 hover:bg-blue-600 text-white font-medium rounded-md px-2 py-2 mr-2">
                          Cancelar
                        </button>
                        <button id="confirm-delete-group"
                          class="bg-red-500 hover:bg-red-600 text-white font-medium rounded-md px-2 py-2">
                          Eliminar
                        </button>
                      </div>
                    </div>
                  </div>
                  {% elif other_user %}
                  <!-- Botón para vaciar el chat individual -->
                  <button id="open-modal"
                    class="flex items-center bg-red-500 hover:bg-red-600 text-white font-medium rounded-md px-1 py-1 text-sm text-center focus:outline-none whitespace-nowrap shadow-md w-full">
                    <i class="fa-solid fa-trash mr-1"></i> Vaciar Chat
                  </button>
                  <!-- Modal (Oculto por defecto) -->
                  <div id="modal-backdrop"
                    class="fixed inset-0 z-50 hidden bg-black bg-opacity-50 flex justify-center items-center">
                    <div class="bg-white rounded-lg shadow-md w-11/12 max-w-sm p-5">
                      <h1 class="text-xl font-semibold text-gray-800">¿Desea eliminar todos los mensajes del chat?</h1>
                      <p class="text-gray-600 mt-2">Esta acción no podrá deshacerse</p>
                      <!-- Botones de acción -->
                      <div class="flex justify-end mt-4">
                        <button id="close-modal"
                          class="bg-blue-500 hover:bg-blue-600 text-white font-medium rounded-md px-2 py-2 mr-2">
                          Cancelar
                        </button>
                        <button id="confirm-delete"
                          class="bg-red-500 hover:bg-red-600 text-white font-medium rounded-md px-2 py-2">
                          Eliminar
                        </button>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>

          <!-- Chat mensajes -->
          <div class="flex-1 overflow-auto bg-gray-200" id="chat-container">
            <div class="py-2 px-3 h-full overflow-y-auto" id="chat-log">
              <ul class="space-y-2">
                {% for message in messages %}
                {% if message.sender.username == request.user.username %}
                <!-- Mensaje del emisor -->
                <div id="message-{{ message.id }}" class="flex justify-end mb-2 items-center space-x-2">
                  <!-- Contenedor del mensaje -->
                  <div class="rounded-xl py-2 px-3 bg-indigo-200 max-w-xs">
                    <p class="text-sm mt-1">
                      {{ message.content }}
                    </p>
                    {% if message.file %}
                    <div class="mt-1">
                       <!-- Video -->
                      {% if message.file.url|lower|slice:"-4:" == ".mp4" or message.file.url|lower|slice:"-4:" == ".mov" or message.file.url|lower|slice:"-4:" == ".avi" or message.file.url|lower|slice:"-4:" == ".mkv" %}
                      <a href="{{ message.file.url }}" target="_blank" class="text-blue-600 text-sm underline">
                        <video controls class="w-28 h-28 rounded-lg cursor-pointer">
                          <source src="{{ message.file.url }}" type="video/mp4">
                          Tu navegador no soporta la etiqueta de video.
                        </video>
                      </a>
                       <!-- Documento -->
                      {% elif message.file.url|lower|slice:"-4:" == ".pdf" or message.file.url|lower|slice:"-5:" == ".docx" or message.file.url|lower|slice:"-4:" == ".doc" or message.file.url|lower|slice:"-4:" == ".ppt" or message.file.url|lower|slice:"-5:" == ".pptx" or message.file.url|lower|slice:"-4:" == ".xls" or message.file.url|lower|slice:"-5:" == ".xlsx" %}
                      <a href="{{ message.file.url }}" target="_blank"
                        class="inline-flex items-center px-1 py-1 text-sm font-medium text-blue-600 bg-blue-100 rounded-lg hover:bg-blue-200">
                        <i class="fa-solid fa-circle-down text-sm"></i>
                        Descargar archivo
                      </a>
                       <!-- Imagen -->
                      {% else %}
                      <a href="{{ message.file.url }}" target="_blank" class="text-blue-600 text-sm underline">
                        <img src="{{ message.file.url }}" alt="Imagen enviada" class="w-24 h-20 rounded-lg cursor-pointer text-blue-600 text-sm underline">                       
                      </a>
                      {% endif %}
                    </div>
                    {% endif %}
                    <p class="text-right text-xs text-gray-500 mt-1">
                      {{ message.timestamp|date:"H:i A" }}
                    </p>
                  </div>

                  <!-- Opciones de mensaje -->
                  <div class="message-options relative ml-1">
                    <button onclick="toggleDropdown('dropdownDots-{{ message.id }}', this)"
                      class="inline-flex items-center p-1 text-sm font-medium bg-transparent rounded-full hover:opacity-80 focus:outline-none">
                      <i
                        class="fa-solid fa-ellipsis-vertical cursor-pointer text-lg text-gray-400 hover:text-gray-700"></i>
                    </button>

                    <!-- Menú desplegable -->
                    <div id="dropdownDots-{{ message.id }}"
                      class="z-50 hidden fixed bg-white divide-y divide-gray-100 rounded-lg shadow-md w-44 p-2">
                      <ul class="py-2 text-sm text-gray-700">
                        <li>
                          <button onclick="openMessageDeleteModal('{{ message.id }}', 'forMe')"
                            class="block px-4 py-2 w-full text-left hover:bg-gray-200 whitespace-nowrap">
                            Eliminar para mí
                          </button>
                        </li>
                        <li>
                          <button onclick="openMessageDeleteModal('{{ message.id }}', 'forAll')"
                            class="block px-4 py-2 w-full text-left hover:bg-gray-200 whitespace-nowrap">
                            Eliminar para todos
                          </button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                {% else %}
                <!-- Mensaje del receptor -->
                <div id="message-{{ message.id }}" class="flex items-center mb-2 space-x-2">
                  <!-- Contenedor del mensaje -->
                  <div class="rounded-xl py-2 px-3 bg-white max-w-xs">
                    <p class="text-sm font-bold text-gray-500">
                      {% if message.sender_alias %}
                        {{ message.sender_alias|alias_prefix }}
                      {% else %}
                        {{ message.sender.username }}
                      {% endif %}
                    </p>
                    <p class="text-sm mt-1">
                      {{ message.content }}
                    </p>
                    {% if message.file %}
                    <div class="mt-1">
                       <!--Video-->
                      {% if message.file.url|lower|slice:"-4:" == ".mp4" or message.file.url|lower|slice:"-4:" == ".mov" or message.file.url|lower|slice:"-4:" == ".avi" or message.file.url|lower|slice:"-4:" == ".mkv" %}
                      <a href="{{ message.file.url }}" target="_blank" class="text-blue-600 text-sm underline">
                        <video controls class="w-28 h-28 rounded-lg cursor-pointer">
                          <source src="{{ message.file.url }}" type="video/mp4">
                          Tu navegador no soporta la etiqueta de video.
                        </video>
                      </a>
                       <!--Documento-->
                      {% elif message.file.url|lower|slice:"-4:" == ".pdf" or message.file.url|lower|slice:"-5:" == ".docx" or message.file.url|lower|slice:"-4:" == ".doc" or message.file.url|lower|slice:"-4:" == ".ppt" or message.file.url|lower|slice:"-5:" == ".pptx" or message.file.url|lower|slice:"-4:" == ".xls" or message.file.url|lower|slice:"-5:" == ".xlsx" %}
                      <a href="{{ message.file.url }}" target="_blank"
                        class="inline-flex items-center px-1 py-1 text-sm font-medium text-blue-600 bg-blue-100 rounded-lg hover:bg-blue-200">
                        <i class="fa-solid fa-circle-down text-sm"></i>
                        Descargar archivo
                      </a>
                       <!--Imagen-->
                      {% else %}
                      <a href="{{ message.file.url }}" target="_blank" class="text-blue-600 text-sm underline">
                        <img src="{{ message.file.url }}" alt="Imagen enviada" class="w-24 h-20 rounded-lg cursor-pointer text-blue-600 text-sm underline">                       
                      </a>
                      {% endif %}
                    </div>
                    {% endif %}
                    <p class="text-right text-xs text-gray-500 mt-1">
                      {{ message.timestamp|date:"H:i A" }}
                    </p>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>

          <!-- Input envio sms y archivo -->
          <div class="input-group bg-grey-lighter px-4 py-4 flex items-center">
            <div>
              <input id="chat-file-input" type="file" name="file" class="form-control" style="display: none"
                accept=".doc,.docx,.pdf,.jpg,.png,.mp4,.avi,.mov,.mkv" />
              {% has_perm request.user "leer" as solo_lectura %}
              {% if not solo_lectura %}
                <button id="chat-file-button"
                class="p-2 text-gray-400 hover:text-gray-700 transition duration-200 focus:outline-none">
                  <i class="fa-solid fa-paperclip text-lg"></i>
                </button>
              {% endif %}
            </div>
            {% has_perm request.user "leer" as solo_lectura %}
            {% if solo_lectura %}
              <div class="flex items-center gap-2 flex-1 mx-2">
                <i class="fa-solid fa-lock text-gray-500"></i>
                <input id="chat-message-input" class="form-control w-full border rounded px-2 py-2 bg-gray-100 text-gray-500" type="text"
                placeholder="Texto no permitido" disabled />
              </div>
            {% else %}
              <div class="flex-1 mx-2">
                <input id="chat-message-input" class="form-control w-full border rounded px-2 py-2" type="text"
                name="content" placeholder="Escribe un mensaje..." autocomplete="off" />
              </div>
            {% endif %}
            <div class="input-group-append">
              {% has_perm request.user "leer" as solo_lectura %}
              {% if not solo_lectura %}
                <button id="chat-message-submit" type="button"
                class="p-2 text-white bg-blue-500 hover:bg-blue-600 rounded-xl transition duration-200 focus:outline-none">
                  <i class=" fa-solid fa-paper-plane text-lg"></i>
                </button>
              {% endif %}  
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<!-- Modal de Confirmación para Eliminar Mensaje -->
<div id="message-delete-modal"
  class="fixed inset-0 z-50 hidden bg-black bg-opacity-50 flex justify-center items-center">
  <div class="bg-white rounded-lg shadow-md w-11/12 max-w-sm p-5">
    <h1 id="message-modal-title" class="text-xl font-semibold text-gray-800">
      ¿Desea eliminar este mensaje?
    </h1>
    <p id="message-modal-text" class="text-gray-600 mt-2">
      Esta acción no podrá deshacerse.
    </p>

    <!-- Botones de acción -->
    <div class="flex justify-end mt-4">
      <button id="message-close-modal"
        class="bg-blue-500 hover:bg-blue-600 text-white font-medium rounded-md px-2 py-2 mr-2">
        Cancelar
      </button>
      <button id="message-confirm-delete"
        class="bg-red-500 hover:bg-red-600 text-white font-medium rounded-md px-2 py-2">
        Eliminar
      </button>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
  const username = "{{ request.user.username }}"; //
  const roomName = "{{ room_name }}"; //
  const groupName = "{% if selected_group %}{{ selected_group.name }}{% endif %}";

</script>
<script src="{% static 'js/sala.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>
{% endblock %}
</div>