# Ignorar el entorno virtual
datalean/

# Ignorar archivos de Python que no son necesarios
*.pyc
__pycache__/

# Ignorar archivos de log
*.log

# Ignorar archivos de compilación de TailwindCSS
public/build/
dist/

# Ignorar node_modules (evitar subir dependencias innecesarias)
node_modules/