.container-fluid {
  background-image: url("/static/img/home.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.register-container {
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  opacity: 0.95;
}

.register-container h2 {
  font-family: "Poppins", sans-serif;
  color: #0d47a1;
}

.form-label {
  font-family: "Poppins", sans-serif;
  color: #0d47a1;
}

.btn {
  background-color: #2e7d32;
  border: none;
}

.mt-3 span {
  color: #0d47a1;
}

.mt-3 a {
  color: #2e7d32;
}
